#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.errorMsg {
  color: #ff4848;
  padding-left: 0;
  margin-bottom: 0;
}

.btnStyle {
  background-color: rgb(191, 240, 119);
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}